/* General styling */
body {
    background-color: #14213d;
    color: #e5e5e5;
    font-family: 'Fira Sans', sans-serif; 
    min-height: 100vh;
}

/* Logo styling */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px; /* Add padding around the logo */
    width: 90px;   /* Shrink the logo */
    height: 90px;  /* Shrink the height */
}

/* Title styling */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold; /* Optional: Makes the title bold */
    color: #fca311; /* Optional: Sets the color for the title */
}

/* Sub-Title styling */
.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    color: #C05420; /* Optional: Sets the color for the subtitle */
}

/* Logo container styling */
.logo-container {
    color: #8a4b03;
    margin-bottom: 30px;
}

/* Logo container styling */
.filter-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Tab styling */
.dash-tabs .tab {
    border-radius: 0px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    background-color: #0C0C0C;
    color: white;
    border: 2px solid #0C0C0C; 
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-tabs .tab:hover {
    text-decoration: none;
    background-color: #0C0C0C; 
    color: gold;
    border: 2px solid #0C0C0C;  
    border-top: 2px solid gold;
}

.dash-tabs .tab--selected {
    text-decoration: none;
    background-color: #0C0C0C; 
    color: gold;
    border: 2px solid #0C0C0C;;  
    border-top: 2px solid gold;
}

/* Description card */
.desc-title {
    color: #fca311;
}

/* Card styles */
.card {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;;
    background-color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.graph-card {
    margin-top: 10px;
    padding: 15px;
    background-color: white; /* White background for graph cards */
    border-radius: 10px;     /* Rounded corners */
    border: none;            /* No border */
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.card-value {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.card-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* Card image styling */
.card-img {
    width: 50px;
    height: auto;
    align-self: center; 
    margin-bottom: 10px; 
}

/* Graph container styling */
.graph-container {
    width: 50%;
    display: inline-block;
    text-align: center;
}

/* Spinner style */
.loading-spinner {
    margin-top: 20px;
}

/* Main container styling */
.main-container {
    padding: 0px;
}

/* Dropdown styling */
/* Style the dropdown container */
.dark-dropdown .Select-control {
    background-color: #333 !important; 
    color: #fff !important;         
    border: 1px solid #555 !important; 
}

/* Style the dropdown menu items */
.dark-dropdown .Select-menu {
    background-color: #333 !important; 
}


.dark-dropdown .Select-arrow {
    border-color: #fca311 transparent transparent !important; 
}

/* Style the selected option in the dropdown box */
.dark-dropdown .Select-value {
    color: #fca311 !important;
}

.dark-dropdown .Select-value-label {
    color: #fff !important;
}

.apply-button {
    background-color: #fca311;
    border-color: #fca311;
    transition: transform 0.5s ease, color 0.5s ease;
}

.apply-button:hover {
    background-color: #fca311;
    border-color: #fca311;
    transform: scale(1.2); 
    color: black;     
}

/* Sticky Footer Styling */
.footer {
    position: sticky;          /* Sticky positioning */
    bottom: 0;                 /* Stick to the bottom of the viewport */
    width: 100%;               /* Full-width footer */
    background-color: #333;    /* Dark background color */
    color: #fff;               /* White text */
    text-align: center;        /* Center the text */
    padding: 20px 20px;           /* Padding for spacing */
    margin-top: 30px;
    font-size: 16px;         
    z-index: 10;           
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
}


/* Smaller screens */
@media (max-width: 768px) {
    .footer {
        font-size: 12px;   
        padding: 8px 0;    
    }
}


/* Footer Icons Container */
.footer-icons {
    margin-bottom: 10px;   
}

/* Footer Icon Links */
.footer-icon {
    margin: 0 10px; 
    color: #fff;      
    font-size: 20px;     
    transition: transform 0.5s ease, color 0.5s ease;
    text-decoration: none;   
}

/* Hover Effect for Icons */
.footer-icon:hover {
    color: #fca311;            
    transform: scale(1.2);
}

/* Footer Text */
.footer-text {
    font-size: 14px; 
    margin-top: 10px;  
    color: #fff; 
}

/* Footer Link Styling */
.footer-link {
    color: #fff;     
    text-decoration: none; 
    font-weight: bold;      
}

.footer-link:hover {
    color: #fca311;         
    text-decoration: none;
}